// COLORS
$color-ox-dark: #A41C5A;
$color-ox-light: #C72031;

$color-gray: gray;
$color-light-gray: #F7F7F7;
$color-dark-gray: darkgrey;

$color-white: #fff;
$color-black: #000;

$color-light-pink: #EDDEE1;

